{% extends "TLCoreBundle::layout.html.twig" %}

{% block title %}
    Bienvenue - {{ parent() }}
{% endblock title %}

{% block body %}
    <div class="container">
        <h1>Hello world</h1>
    </div>
{% endblock body %}
