{% extends "TLCoreBundle::layout.html.twig" %}

{% block title %}
    Renseignements - {{ parent() }}
{% endblock title %}

{% block body %}
    <div class="container">
        <h3>Renseignements</h3>
        <div class="row">
            <div class="col offset-l1 l4 s12">
                <div class="card">
                    <div class="card-content">
                        <p>Pour le :</p>
                        {{ date }}
                        <p>Nombre de personnes :</p>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
{% endblock body %}
