<div class="nav-wrapper teal lighten-1">
<div class="container">
    <div class="row">
        <div class="col s12">
            <a href="#!" class="breadcrumb">1 Choix de la date</a>
            <a href="#!" class="breadcrumb">2 Renseignement</a>
            <a href="#!" class="breadcrumb">3 Confirmation</a>
        </div>
    </div>
</div>