.title-index {
    margin-top: 100px;
}

.choose-date {
    font-size: 1.2rem;
}
.choose-date:hover {
    cursor: pointer;
}

/* FORM STYLES
---------------------- */
/* Tickets */
#tl_corebundle_basket_tickets_ticket1{
    margin-top: 50px;
}

#tl_corebundle_basket_tickets_ticket1 .row{
    margin-bottom: 10px;
}